<%= render(
    partial: 'shared/highlights',
    locals: {
      highlights: [
        {
          icon: 'people',
          colour: 'purple',
          label: t('teams.dashboard.boxes.members'),
          value: @presenter.paginated_users.total_count
        },
        {
          icon: 'bar-chart',
          colour: 'green',
          label: t('teams.dashboard.boxes.average_delivery_percent'),
          value: '<span id="team-dash-average-delivery-percent">&nbsp;</span>'.html_safe
        },
        {
          icon: 'compass',
          colour: 'yellow',
          label: t('teams.dashboard.boxes.members_under_delivered_percent'),
          value: '<span id="team-dash-members-under-delivered-percent">&nbsp;</span>'.html_safe
        },
        {
          icon: 'flag',
          colour: 'red',
          label: t('teams.dashboard.boxes.members_with_job_plan'),
          value: @presenter.users_with_job_plan_count
        }
      ]
    }
  ) %>