<div class='thin-tabs'>
  <%=
    render(
      partial: 'shared/tabs',
      locals: {
        tabs: [
          { label: I18n.t('nav.tabs.combined_data'), path: admin_dashboard_path }
        ]
      }
    )
  %>
</div>
