<div class='thin-tabs'>
  <%=
    render(
      partial: 'shared/tabs',
      locals: {
        tabs: [
          { label: I18n.t('nav.tabs.summary'), path: user_dashboard_path },
          { label: I18n.t('nav.tabs.time_ranges'), path: time_ranges_path }
        ]
      }
    )
  %>
</div>
