<%= render 'tabs' %>

<div class='container my-4'>

  <div class='row'>
    <div class='col-3'>
      <div class='card my-4'>
        <div class='card-body'>
        </div>
      </div>
    </div>
    <div class='col-3'>
      <div class='card my-4'>
        <div class='card-body'>
        </div>
      </div>
    </div>
    <div class='col-3'>
      <div class='card my-4'>
        <div class='card-body'>
        </div>
      </div>
    </div>
    <div class='col-3'>
      <div class='card my-4'>
        <div class='card-body'>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      <h5>
        Percentage achievement against job plan
      </h5>
      <p>
        Showing
        <%= @presenter.paginated_users.total_count %>
        users
      </p>
      <div class='card my-4'>
        <div class='card-body'>
          <canvas id='line-graph'></canvas>
        </div>
      </div>
    </div>
  </div>

</div>
