<div class='container my-4 xs-row-reverse'>

  <%= render(
    partial: 'shared/highlights',
    locals: {
      highlights: [
        {
          icon: 'people',
          colour: 'purple',
          label: 'Members',
          value: @presenter.paginated_users.total_count
        },
        {
          icon: 'bar-chart',
          colour: 'green',
          label: 'Average delivery',
          value: '90%'
        },
        {
          icon: 'compass',
          colour: 'yellow',
          label: 'People under 80%',
          value: '4'
        },
        {
          icon: 'flag',
          colour: 'red',
          label: 'Average team delivery',
          value: '< 1%'
        }
      ]
    }
  ) %>

  <div class='row'>
    <div class='col-12'>
      <div class='card my-4'>
        <div class='card-body'>
          <canvas id='line-graph'></canvas>
        </div>
      </div>
    </div>
  </div>

</div>

<%= render(
  partial: 'shared/modal',
  locals: {
    template: 'notes/form'
  }
) %>
