$('.modal-backdrop').remove() // Needed when loading from 'next' or 'prev' buttons.
$('#modal-root').html("#{j render(partial: 'shared/modal', locals: { template: 'notes/form', template_locals: { note: @note } })}")
$('#modal').modal()
