# This is used by Docker Compose to set up prefix names for Docker images,
# containers, volumes and networks. This ensures that everything is named
# consistently regardless of your folder structure.
COMPOSE_PROJECT_NAME=murfin_method

# Database connections.
MYSQL_ROOT_PASSWORD=YOU_MUST_CHANGE_THIS_PASSWORD
MYSQL_USER=murfin_method_user
MYSQL_PASSWORD=YOU_MUST_CHANGE_THIS_PASSWORD
DB_DATABASE=murfin_method
DB_PORT=3306

# You would typically use `bundle exec rails secret` to generate a secure token. It is
# critical that you keep this value private in production.
SECRET_TOKEN=YOU_MUST_CHANGE_THIS_PASSWORD

# Lockbox is used for keeping tokens safe. Must be a 64-character hex.
LOCKBOX_MASTER_KEY=YOU_MUST_CHANGE_THIS_PASSWORD

# Redis config.
REDIS_PASSWORD=YOU_MUST_CHANGE_THIS_PASSWORD
REDIS_PORT=6379
REDIS_CACHE_NAMESPACE=cache

# The queue prefix for all Active Jobs. The Rails environment will
# automatically be added to this value.
ACTIVE_JOB_QUEUE_PREFIX=murfin_method:jobs

# Rails log level.
#   Accepted values: debug, info, warn, error, fatal, or unknown
LOG_LEVEL=debug

# More details about these Puma variables can be found in config/puma.rb.
# Which address should the Puma app server bind to?
BIND_ON=0.0.0.0:3000

# Requests that exceed 5 seconds will be terminated and dumped to a stacktrace.
# Feel free to modify this value to fit the needs of your project, but if you
# have any request that takes more than 5 seconds you probably need to re-think
# what you are doing 99.99% of the time.
RACK_TIMEOUT_SERVICE_TIMEOUT=5

# Action mailer (e-mail) settings.
# You will need to enable less secure apps in your Google account if you plan
# to use GMail as your e-mail SMTP server.
# You can do that here: https://www.google.com/settings/security/lesssecureapps
SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
SMTP_DOMAIN=gmail.com
SMTP_USERNAME=you@gmail.com
SMTP_PASSWORD=yourpassword
SMTP_AUTH=plain
SMTP_ENABLE_STARTTLS_AUTO=true

# Not running Docker natively? Replace 'localhost' with your Docker Machine IP
# address, such as: 192.168.99.100:3000
ACTION_MAILER_HOST=localhost:3000
ACTION_MAILER_DEFAULT_FROM=you@gmail.com
ACTION_MAILER_DEFAULT_TO=you@gmail.com

# The queue prefix for all Active Jobs. The Rails environment will
# automatically be added to this value.
ACTIVE_JOB_QUEUE_PREFIX=murfin_method:jobs

# Auth0
AUTH0_CLIENT_ID=abc
AUTH0_CLIENT_SECRET=abc

# Auth0 Token
AUTH0_TOKEN_ISSUER=https://sardjv-dev.eu.auth0.com/
AUTH0_TOKEN_AUDIENCE=https://job-plan-stats.herokuapp.com/api

# Increase docker-compose timeout in case of slow internet.
COMPOSE_HTTP_TIMEOUT=300
