version: '3.7'

services:
  db:
    image: 'mysql:8.0.19'
    restart: always
    volumes:
      - 'db:/var/lib/mysql'
    env_file:
      - '.env'
    environment:
      - MYSQL_DATABASE=murfin_method_development

  db_test:
    image: 'mysql:8.0.22'
    restart: always
    volumes:
      - 'db_test:/var/lib/mysql'
    env_file:
      - '.env'
    environment:
      - MYSQL_DATABASE=murfin_method_test

  app:
    depends_on:
      - db
      - db_test
      - redis
      - sidekiq
      - webpacker
      - chrome_headless
    build: .
    # 1) Remove any existing server process in case of dirty shutdown, with -f in case the file doesn't exist.
    # 2) if `bundle check` indicates it's needed, `bundle install` here rather than in Dockerfile,
    #    so that we can cache its result in the bundle_cache container.
    # 3) Start server.
    command: ./script/start_rails_development.sh
    ports:
      - '3000:3000'
    volumes:
      - '.:/app'
      # We cache the bundle so that we don't re-download every gem on any change to the Gemfile.
      - bundle_cache:/bundle
    environment:
      - CAPYBARA_APP_HOST=http://app:3001
      - HEADLESS_CHROME_URL=http://chrome_headless:4444/wd/hub
      - VISIBLE_CHROME_URL=http://chrome_visible:4444/wd/hub
      - BUNDLE_PATH=/bundle/vendor
      - WEBPACKER_DEV_SERVER_HOST=webpacker
      - NODE_ENV=development
      - RAILS_ENV=development
      - RAILS_MAX_THREADS=1 # 1 is good for debugging.
      - WEB_CONCURRENCY=1 # 1 is good for debugging.
    env_file:
      - '.env'

  chrome_headless:
    image: selenium/standalone-chrome:3.141.0
    volumes:
      - '.:/app'
      - bundle_cache:/bundle

  chrome_visible:
    image: selenium/standalone-chrome-debug:3.141.0
    ports:
      - 5900:5900 # Port for remote connection via `open vnc://0.0.0.0:5900`.
    volumes:
      - '.:/app'
      - bundle_cache:/bundle

  bundle_cache:
    # BusyBox combines tiny versions of many common UNIX utilities into a single small executable.
    image: busybox:1.32.0
    volumes:
      - '.:/bundle_cache'

  sidekiq:
    depends_on:
      - 'db'
      - 'redis'
    build: .
    command: ./script/start_sidekiq.sh
    volumes:
      - '.:/app'
      - bundle_cache:/bundle
    environment:
      - BUNDLE_PATH=/bundle/vendor
      - NODE_ENV=development
      - RAILS_ENV=development
    env_file:
      - '.env'

  webpacker:
    build: .
    command: ./script/start_webpacker.sh
    ports:
      - '3035:3035'
    volumes:
      - '.:/app'
      - bundle_cache:/bundle
    environment:
      - BUNDLE_PATH=/bundle/vendor
      - WEBPACKER_DEV_SERVER_HOST=0.0.0.0
      - NODE_ENV=development
      - RAILS_ENV=development
    env_file:
      - '.env'

volumes:
  bundle_cache:
  redis:
  db:
  db_test:
