<div class='row'>
  <div class='col-12'>
    <div class='card mb-4'>
      <div class='card-body'>
        <form role='form'>
          <div class='row form-group'>
            <div class='col-1'><label><%= I18n.t('graph.filter.start_time') %></label></div>
            <div class='col-11'><%= date_select :line_graph,
              :filter_start_time,
              { order: %i[month year], default: @presenter.filter_start_date },
              class: 'filter'
            %></div>
          </div>
          <div class='row form-group'>
            <div class='col-1'><label><%= I18n.t('graph.filter.end_time') %></label></div>
            <div class='col-11'><%= date_select :line_graph,
              :filter_end_time,
              { order: %i[month year], default: @presenter.filter_end_date },
              class: 'filter'
            %></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
