<div class='row'>
  <div class='col-12'>
    <div class='card mb-4'>
      <div class='card-body'>
        <form role='form'>
          <div class='row form-group'>
            <div class='col-1'><label><%= I18n.t('graph.filter.tags') %></label></div>
            <div class='col-11'><%= select :line_graph,
              :tags,
              grouped_options_for_select(tag_options, Tag.where(default_for_filter: true).pluck(:id)),
              {},
              { class: 'filter', multiple: true, 'data-actions-box': true }
            %></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>