:ruby
  highlights = [{ icon: 'people',
                  colour: 'purple',
                  label: 'People',
                  value: @presenter.paginated_users.total_count },
                { icon: 'pie-chart',
                  colour: 'green',
                  label: 'Professional Groups',
                  value: '14' },
                { icon: 'compass',
                  colour: 'yellow',
                  label: 'Average flex. hours',
                  value: '8.9' },
                { icon: 'flag',
                  colour: 'red',
                  label: 'Teams under 6 hours',
                  value: '4' }]

.container.my-4
  .row
    .col-12
      %h5= I18n.t('graph.title.admin')
      = render partial: 'shared/highlights', locals: { highlights: highlights }
      = render 'graph_tabs'
      .card.mt-4
        .card-body
          %canvas#line-graph{ 'data-time-scope': graph_time_scope }
