:ruby
  highlights = [{ icon: 'people',
                  colour: 'purple',
                  label: User.model_name.human.titleize.pluralize,
                  value: User.all.count },
                { icon: 'pie-chart',
                  colour: 'green',
                  label: Plan.model_name.human.titleize.pluralize,
                  value: Plan.all.count }]

.container.my-4
  .row
    .col-12
      %h5= I18n.t('graph.title.admin')
      = render partial: 'shared/highlights', locals: { highlights: highlights }
