<div class="pull-right">
  <ul class="nav nav-pills">
    <li class="nav-item dropdown">
      <a class="dropdown-toggle" id="filters-predefined-ranges-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Last 12 months</a>
      <div class="dropdown-menu" id="filters-predefined-ranges-menu">
        <% filters_predefined_ranges.each do |data| %>
          <a class="dropdown-item <%= 'active' if @presenter.filter_start_date == data[:range][0] %>" href="#"
           data-range-begin="<%= data[:range][0] %>" data-range-end="<%= data[:range][1] %>">
           <%= data[:label] %></a>
        <% end %>
      </div>
    </li>
  </ul>
</div>
