<footer class='page-footer font-small blue'>
  <div class='container'>
    <div class='d-flex justify-content-start'>
      <div class='text-center m-4'>
        <a href='/api_docs'><%= I18n.t('footer.api_docs') %></a>
      </div>
    </div>
  </div>
</footer>
