.card.mt-2{ id: ("team-individual-box-#{label.downcase.downcase.gsub(/\s+/, '-')}" if label.present?) }
  .card-body.highlight
    %div{ class: "card-icon #{colour}" }= icon(icon, width: '1em')
    %h2= value
    .highlight-label= label
