<div class='card mt-2'>
  <div class='card-body highlight'>
    <div class='card-icon <%= colour %>'>
      <%= icon(icon, width: '1em') %>
    </div>
    <h2>
      <%= value %>
    </h2>
    <div class='highlight-label'>
      <%= label %>
    </div>
  </div>
</div>
