<div class='modal fade' id='modal' tabindex='-1' role='dialog' aria-labelledby='modalTitle' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered' role='document'>
    <div class='modal-content'>
      <%= render(template) %>
    </div>
  </div>
</div>
