<nav class='rootnav navbar navbar-expand-lg navbar-dark bg-primary'>
  <div class='container'>
    <a class='navbar-brand' href='#'>
      <%= image_pack_tag 'media/images/logos/nhs.svg', width: '100 px' %>
    </a>

    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse pl-4' id='navbarSupportedContent'>
      <% if user_authenticated? %>
        <ul class='navbar-nav mr-auto'>
          <% navs.each do |nav| %>
            <% if nav[:enabled] %>
              <li class='nav-item'>
                <%=
                  link_to(
                    nav[:label],
                    nav[:path],
                    class: "nav-link #{' active' if current_page?(nav[:path]) || nav[:subnavs]&.any? { |subnav| @nav_presenter.subnav_active?(subnav) } }"
                  )
                %>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>

      <%= render(partial: 'shared/auth') %>
    </div>
  </div>
</nav>

<% navs.each do |nav| %>
  <% if nav[:subnavs]&.any? { |subnav| @nav_presenter.subnav_active?(subnav) } %>
    <% if nav[:enabled] %>
      <nav class='subnav navbar navbar-expand-lg'>
        <div class='container'>
          <div class='collapse navbar-collapse pl-4' id='navbarSupportedContent'>
            <% if user_authenticated? %>
              <ul class='navbar-nav mr-auto'>
                <% nav[:subnavs].each do |subnav| %>
                  <li class='nav-item pl-3'>
                    <%=
                      link_to(
                        subnav[:label],
                        subnav[:path],
                        class: "nav-link#{ 'active' if @nav_presenter.subnav_active?(subnav) }"
                      )
                    %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      </nav>
    <% end %>
  <% end %>
<% end %>
