<%
  tabs = [
    { label: I18n.t('dashboard.nav.team'), path: teams_dashboard_path },
    { label: I18n.t('dashboard.nav.individuals'), path: individuals_dashboard_path },
  ]
%>

<ul class='nav nav-tabs my-4'>
  <% tabs.each do |tab| %>
    <li class='nav-item'>
      <%=
        link_to(
          tab[:label],
          tab[:path],
          class: "nav-link#{' active' if current_page?(tab[:path])}"
        )
      %>
    </li>
  <% end %>
</ul>
