- tag_type = f.object.tag_type
= f.hidden_field :id
= f.hidden_field :tag_type_id
= f.select :tag_id,
            tag_type.tags.map { |t| [t.name, t.id, { 'data-id': t.id, 'data-parent-id': t.parent_id }] },
            { include_blank: t('prompts.none'), label: tag_type.name, hide_label: false, wrapper: { class: tag_type.name.parameterize } },
            { class: 'filter-child-select',
              'data-tag-type-id': tag_type.id,
              'data-tag-type-parent-id': tag_type.parent_id,
              'data-size': TagTypeHelper.visible_options_count(tag_type),
              disabled: !policy(f.object.taggable).update? }
