<div>
  <p>
    You can use this service to:
  </p>

  <ul>
    <li>
      Compare job plans versus actual time spent with patients.
    </li>
    <li>
      Quickly spot service and data collection problems.
    </li>
  </ul>

  <% if user_authenticated? %>
    <%= link_to 'Log out', auth_logout_path %>
  <% else %>
    <%= button_to 'Log in', root_url + 'auth/auth0', method: :post, type: 'button', class: 'btn btn-primary' %>
  <% end %>

</div>
