#bar-chart-scroll-container {
  height: 400px;
  overflow-y: auto;

  #bar-chart-container {
    height: auto;
    position: relative;

    canvas#bar-chart {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
