$primary: #005EB8;

$table_head: #F5F5F5;

// status
$over: #F9DDCE;
$over_font: #52121D;
$about_right: #F0F7E7;
$about_right_font: #2B6219;
$under: #FDF2AA;
$under_font: #C29427;
$really_under: #E2F1FC;
// $really_under_font: #E2F1FC;
$unknown: #EDE2F0;
$unknown_font: #2D0E6D;
