.dropdown.bootstrap-select {
  .dropdown-toggle {
    border-color: $input-border-color;
    background-color: $white !important;
  }
  padding-right: 4px;
}

// Bootstrap duration picker.
.bdp-input input {
  display: inline-block;
  width: 60px;
}

// Bootstrap duration picker.
.bdp-block {
  display: inline-block;
  line-height: 1;
  text-align: center;
  padding-right: 6px;
  div {
    display: inline-block;
    padding: 0px 3px
  }
}

.alert-info {
  word-wrap: break-word;
  overflow: visible;
}

#search-form {
  .form-group {
    width: 80%;
    input {
      width: 100% !important
    }
  }
}

// Activities-grid ==============================

.sa-activities-grid {
  .sa-form-flex-row{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dee2e6;
    padding: 16px 0;
  }

  .sa-form-grid-fluid-columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 0.5rem;
    width: 100%;
    @include media-breakpoint-down(md){
      grid-template-columns: auto;
      grid-auto-flow: unset;
    }
  }

  .sa-form-flex-row:not(:first-child){
    @include media-breakpoint-up(lg){
      label{ display: none;}
    }
  }

  .form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .dropdown.bootstrap-select {
    padding-right: 0px;
  }

  .time-worked-per-week {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    label {
      margin: 0 10px;
    }
    input{
      width: 60px;
      padding-left: 2px;
      padding-right: 2px;
      text-align: center;
    }
  }

  .icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: flex-end;
    padding-left: 8px;
  }

  .form-buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 8px;
  }
}
