.dropdown.bootstrap-select {
  .dropdown-toggle {
    border-color: $input-border-color;
    background-color: $white !important;
  }
  padding-right: 4px;
}

// Bootstrap duration picker.
.bdp-input input {
  display: inline-block;
  width: 60px;
}

// Bootstrap duration picker.
.bdp-block {
  display: inline-block;
  line-height: 1;
  text-align: center;
  padding-right: 6px;
  div {
    display: inline-block;
    padding: 0px 3px
  }
}

.alert-info {
  word-wrap: break-word;
  overflow: visible;
}

#search-form {
  .form-group {
    width: 80%;
    input {
      width: 100% !important
    }
  }
}


// Activities-form ==============================
.activities-form{
  .form-elements{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    @include media-breakpoint-down(md){
      flex-direction: column;
    }
  }

  .form-group{
    margin: 8px 8px 8px 0;
    flex: auto;
  }

  .form-group:last-of-type{
    margin-right: 0;
  }

  :not(.input-group) > .bootstrap-select.form-control:not([class*=col-]) {
    width: 100%!important;
  }

  .times-worked{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    label {
      margin: 0 10px;
    }
    input{
      width: 60px;
      padding-left: 2px;
      padding-right: 2px;
      text-align: center;
    }
  }

  .icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1;
  }

  .form-buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 8px;
  }
}
