.page-footer {
  border-top: 2px solid $primary;
}

.nav {
  .nav-link {
    &.active {
      background-color: $blue-900;
    }
  }
}

.rootnav {
  .active {
    background-color: $blue-900;
  }
}

.subnav {
  background-color: $grey-50;

  .nav-link {
    color: $grey-600;

    &.active {
      font-weight: bold;
    }
  }
}
