.page-footer {
  border-top: 2px solid $primary;
}

.rootnav {
  padding-top: 0px;
  padding-bottom: 0px;

  .navbar-nav {
    .nav-link {
      padding: 20px;

      &.active {
        background-color: $blue-900;
      }
    }
  }
}

.subnav {
  background-color: $grey-50;

  .nav-link {
    color: $grey-600;

    &.active {
      font-weight: bold;
    }
  }
}

// Icons.
.bi-chevron-left, .bi-chevron-right {
  color: $grey-900;
}
