// Statuses.
.about-right {
  background-color: $about-right;
  color: $about-right-font;
}
.over {
  background-color: $over;
  color: $over-font;
}
.under {
  background-color: $under;
  color: $under-font;
}
.really-under {
  background-color: $really-under;
  color: $really-under-font;
}
.unknown {
  background-color: $purple-50;
  color: $unknown-font;
}

// Icons.
.bi-question-circle {
  color: $unknown-font;
}
