.about_right {
  background-color: $green-50;
  color: $green-900;
}
.over {
  background-color: $red-50;
  color: $red-900;
}
.under {
  background-color: $yellow-200;
  color: $yellow-900;
}
.really_under {
  background-color: $blue-50;
  color: $blue-900;
}
.unknown {
  background-color: $purple-50;
  color: $purple-900;
}
