<label class="required" for="activity_schedule">
  <%= I18n.t('activity.labels.schedule') %>
</label>

<%= f.select_recurring :schedule,
  [
    IceCube::Rule.weekly.day(:monday),
    IceCube::Rule.weekly.day(:tuesday),
    IceCube::Rule.weekly.day(:wednesday),
    IceCube::Rule.weekly.day(:thursday),
    IceCube::Rule.weekly.day(:friday),
    IceCube::Rule.weekly.day(:saturday),
    IceCube::Rule.weekly.day(:sunday)
  ]
%>

<%= link_to_remove_association I18n.t('activity.remove'), f %>
