<div class='row'>
  <% if (tag_type = f.object.tag_type.presence) %>
    <label class='col-md-3 col-form-label'><%= tag_type.name %></label>
    <div class='col-md-3'>
      <%= f.hidden_field :tag_type_id %>
      <%= f.select :tag_id,
        tag_type.tags.map { |t| [ t.name, t.id, {
          'data-id' => t.id,
          'data-parent-id' => t.parent_id,
          'data-tag-type-id' => tag_type.id,
          'data-tag-type-parent-id' => tag_type.parent_id
        } ] },
        { include_blank: I18n.t('prompts.none'), hide_label: true },
        { class: 'filter-child-select', 'data-size' => tag_type.tags.count + 1 }
      %>
    </div>
  <% end %>
</div>
