<div class='container my-5'>

  <div class='row'>
    <div class='col-12'>
      <%= link_to [:new, :admin, :group_type], class: 'btn btn-primary float-right mb-3' do %>
        <%= icon('plus') %>
        <%= I18n.t('group_types.add') %>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      <% @group_types.each do |group_type| %>
        <div id='accordion'>
          <%= render(partial: 'group_type_card', locals: { group_type: group_type}) %>
        </div>
      <% end %>
    </div>
  </div>

</div>
