<div class='container my-4'>

  <div class='row'>
    <div class='col-12'>
      <%= link_to [:new, :admin, :group_type], class: 'btn btn-primary float-right mb-3' do %>
        <%= icon('plus') %>
        <%= I18n.t('actions.add', model_name: GroupType.model_name.human.downcase) %>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      <% @group_types.each_with_index do |group_type, index| %>
        <div id='accordion'>
          <%= render(partial: 'group_type_card', locals: { group_type: group_type, index: index }) %>
        </div>
      <% end %>
    </div>
  </div>

</div>
