// Palette.
$black     : #000000;
$white     : #FFFFFF;
$blue-50   : #E2F1FC;
$blue-100  : #B9DCF8;
$blue-200  : #8CC6F4;
$blue-300  : #5FB0EF;
$blue-400  : #3A9FED;
$blue-500  : #0E8FEA;
$blue-600  : #0B82DD;
$blue-700  : #0470CA;
$blue-800  : #005EB8;
$blue-900  : #003087;
$grey-50   : #F5F5F5;
$grey-100  : #E9E9E9;
$grey-200  : #D9D9D9;
$grey-300  : #C4C4C4;
$grey-400  : #9D9D9D;
$grey-500  : #7B7B7B;
$grey-600  : #555555;
$grey-700  : #434343;
$grey-800  : #262626;
$grey-900  : #000000;
$yellow-50 : #FEFCEA;
$yellow-100: #FDF7CA;
$yellow-200: #FDF2AA;
$yellow-300: #FBED8B;
$yellow-400: #FBEA77;
$yellow-500: #F8E464;
$yellow-600: #F5D45F;
$yellow-700: #EFBD55;
$yellow-800: #DD9E15;
$yellow-900: #C29427;
$purple-50 : #EDE2F0;
$purple-100: #D3B9DB;
$purple-200: #B88BC5;
$purple-300: #9C60AF;
$purple-400: #893FA0;
$purple-500: #772391;
$purple-600: #6B1F8B;
$purple-700: #5A1A84;
$purple-800: #4A157B;
$purple-900: #2D0E6D;
$green-50  : #F0F7E7;
$green-100 : #DBE9C4;
$green-200 : #C3DC9E;
$green-300 : #ABCF78;
$green-400 : #87BA41;
$green-500 : #78AA39;
$green-600 : #78AA39;
$green-700 : #64982F;
$green-800 : #508425;
$green-900 : #2B6219;
$orange-50 : #FBF2E2;
$orange-100: #F6DFB7;
$orange-200: #F1CB89;
$orange-300: #E8A746;
$orange-400: #E59937;
$orange-500: #E59937;
$orange-600: #E08E33;
$orange-700: #DA802F;
$orange-800: #D3722B;
$orange-900: #C95B24;
$red-50    : #F9DDCE;
$red-100   : #F5BEB4;
$red-200   : #DD9C94;
$red-300   : #BE7970;
$red-400   : #A65E56;
$red-500   : #8F433E;
$red-600   : #833A37;
$red-700   : #722E2E;
$red-800   : #632127;
$red-900   : #52121D;

// Statuses.
$about-right: $green-50;
$over: $red-50;
$under: $yellow-200;
$really-under: $blue-50;
$unknown: $purple-50;

$about-right-font: $green-900;
$over-font: $red-900;
$under-font: $yellow-900;
$really-under-font: $blue-900;
$unknown-font: $purple-900;
